
.shadow { 
    color:black; 
    font: bold 40px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #fe4902, 
                 2px 2px #fe4902, 
                 3px 3px #fe4902;
    margin-bottom: 5%;
 }
 .shadow:hover {
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #fe4902, 
                 2px 2px #fe4902, 
                 3px 3px #fe4902, 
                 4px 4px #fe4902, 
                 5px 5px #fe4902, 
                 6px 6px #fe4902;
 }
 .productHead {
     position: relative;
     text-align: center;
     color: #fe4902;
     position: relative;
     margin-top: 3%;
     margin-bottom: 3%;
 }
 .border {
     border: 1cm;
     margin-bottom: 5%;
     position: relative;
     margin-left: 5%;
 }

 /*Animation for image */
 .imageAnimation {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 5;
    position: relative;
 }
 @keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:400px; top:0px;}
    50%  {left:400px; top:300px;}
    75%  {left:0px; top:300px;}
    100% {left:0px; top:0px;}
  }